# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# VitePress output and cache
docs/.vitepress/dist
docs/.vitepress/cache

# Build outputs
dist/
cache/

# System / OS files
.DS_Store
Thumbs.db

# IDE and Editor files
.vscode/
.idea/
*.swp
*.swo
docs/practice/03_electromagnetic_analysis/1_out-runner_bldc_motor_markers.md
